body {
  width: 100vw;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  /* background-color: #f7f7f7; */
  /* background-color: #e7e7e7; */
  background-color: #111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu-appbar div {
  background-color: transparent !important;
}

.header button {
  font-family: "acumin-pro" !important;
  font-weight: 600;
}

.first-section {
  height: 100vh;
  overflow: hidden;
}

.first-section h1 {
  font-family: "acumin-pro" !important;
  font-weight: 600;
  color: #fff;
}

.first-section h3 {
  /* font-family: "acumin-pro" !important; */
  font-weight: 300;
  color: #fff;
}

.slick-active .title,
.slick-active .detail {
  animation: fadein 3s;
  transform: translate(0, 10vh);
  transition: all 2s;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.second-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.second-section .img,
.fourth-section .img {
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.fourth-section {
  display: flex;
  justify-content: center;
}
